body{
  background-color:crimson;
}
.app{
  background-color:lightgreen;
  min-height: 650px;
  width:400px;
  margin: 40px auto;
  border-radius: 30px;
}

#formelement{ 
  display: flex;
  flex-direction: row;
}

input{
  background-color:darkmagenta;
  width: 190px;
  height: 49px;
  padding: 0 20px;
  margin: 20px 20px 20px 20px;
  font-size: 18px;
  color:aliceblue;
  border-radius: 10px;
  cursor: text ;
}

button{
  margin:22px 20px 20px 10px;
  width: 70px;
  height: 50px;
  background-color:crimson;
  border-radius: 10px;
  font-size: larger;
  color: aqua;
  cursor: pointer;
}


